@page "/simulator"
@inject NavigationManager Navigation

<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button default-href="/" @onclick="@GoBack">Back</ion-back-button>
        </ion-buttons>
        <ion-title>Simulation</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">
        <ion-slide>
            <ion-content>
                <ion-title>Informations sur le bien</ion-title>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" placeholder="Nom">
                </div>
                <div class="form-group">
                    <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="5" placeholder="Adresse..."></textarea>
                </div>

            </ion-content>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <ion-title>Informations sur l'achat</ion-title>
                <ClearableInput></ClearableInput>
            </ion-content>
        </ion-slide>

        <ion-slide>
            <img src="./slide-3.png"/>
            <h2>What is Ionic Appflow?</h2>
            <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
        </ion-slide>


    </ion-slides>
</ion-content>

<style>
    ion-slides {
        height: 100%;
    }
</style>

@code {


    private string osef { get; set; }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }
}
