<div class="btn-group">
    <input id="searchinput" type="search" class="form-control" @bind-value="InputValue" @bind-value:event="oninput">
    <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
</div>

@code {

    [Parameter]
    public bool ShowCents { get; set; } = true;

    private string InputValue
    {
        get => Value;
        set
        {
            if (Display.IsValid(value))
            {
                Value = Display.AsDecimal(value).ToString(ShowCents ? 2 : 0);
                ValueChanged.InvokeAsync(Value);
            }
        }
    }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

}

<style>
    #searchinput {
        height: calc(1.5em);
        width: 100px;
    }
    #searchclear {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
    }
</style>
