<div style="width: 100px; height: 150px;">
    <h2 style="text-align: center">Score</h2>
    <svg width="100" height="100">
        <CircleSegment CenterX="50" CenterY="50" Radius="50" RadiusWidth="40" AngleStart="270" AngleEnd="629" />
        <text x="35" y="55">5/10</text>
    </svg>
</div>

@code {
    //M100.00,50.000A50,50,0,0,1,85.355,85.355L57.071,57.071A10,10,0,0,0,60.000,50.000Z
}
